{% extends "page.html" %}

{% block title %}About{% endblock %}

<!-- {% macro member(name, photo, title) %}
<li class="member">
  <div class="member-avatar">
    <img src="{{ static_url("external/images/about/" + photo) }}" alt="{{ name }}'s photo">
  </div>
  <div class="member-description">
    <div class="title">{{ name }}</div>
    {# we disable autoescape to allow rendering of line breaks #}
    {% autoescape false %}
    <div class="subtitle">{{ title }}</div>
    {% endautoescape %}
  </div>
</li>
{% endmacro %} -->

{% block main %}
<section id="about" class="container">
  <h2>Kenya National Data Cube</h2>
  <h2 class="subtitle">Geo-Information for Sustainable Development</h2>
  <p>The Kenya National Data Cube (KNDC) is an innovative geospatial data platform developed to provide ready-to-use satellite imagery and Earth observation datasets for a wide range of applications. Spearheaded by the Kenya Space Agency and key partners, the KNDC is designed to support government agencies, researchers, developers, and decision-makers in tackling pressing environmental, agricultural, and urban development challenges.</p>
  <p>Built on a foundation of open-source tools and cloud-based infrastructure, the KNDC enables efficient access, analysis, and visualization of large volumes of Earth observation data. This approach fosters transparency, data-driven decision-making, and collaborative innovation in addressing national priorities such as food security, climate resilience, and disaster risk management.</p>
  <p> The Kenya National Data Cube exemplifies how technology and open data can be leveraged to drive inclusive and sustainable development in Africa and beyond.</p>
</section>


{% endblock main %}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ static_url("external/css/about.css") }}" type="text/css"/>
{% endblock stylesheet %}
